# NativeScriptplatforms/
hooks/
# src/**/*.js
.DS_STORE

/dist/
/bazel-out
/integration/bazel/bazel-*
e2e_test.*
*.log
node_modules/
tools/gulp-tasks/cldr/cldr-data/
.angular/cache/
src/environments/environment.prod.ts

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.devcontainer/*
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/settings.json
*.swo
modules/.settings
modules/.vscode
.vimrc
.nvimrc

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user

.notes.md
baseline.json




# Created by https://www.gitignore.io/api/nativescript
# Edit at https://www.gitignore.io/?templates=nativescript

### NativeScript ###
/platforms
/hooks
/node_modules
/lib
/debugger
/dist

/app/**/*.map
# shouldn't ignore this for vanilla nativescript
# /app/**/*.js

.DS_Store
**/*.log
tags

ers.txt

# End of https://www.gitignore.io/api/nativescript
