.error {
    color: rgb(202, 199, 199);
    font-size: large;
    width: 100%;
    text-align: center;
  }

  .card.col-md-12.min-table {
    padding: 1em;
    position: absolute;
    overflow: scroll;
  }

  .content {
    height: 100%;
    overflow-y: auto;

    & > div {
      height: 100%;
    }
  }

  .button {
    float: right;
    margin: 0.5em 0;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.441);
    i {
      transform: scale(0.8);
    }

    &:active {
      transform: translateY(2px);
    }
    &:hover {
      background-color: whitesmoke;
    }
  }
