$buttons-subtitle-color: #1905FF;

div{
    width: 100%;
}

div.curve-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    section.curve-graph{
        width: 80%;

        .square_selected{
            margin-top: .1rem;
            margin-left: .2rem;
            height: 25px;
            width: 25px;
            outline: 3px solid green;
            background-color: green;
            position: absolute;
            opacity: 0.9;
            cursor: pointer;

            mat-icon{
                color: white;
                opacity: 0.8;
            }
        }

        .square_not_selected{
            margin-top: .1rem;
            margin-left: .2rem;
            height: 25px;
            width: 25px;
            outline: 3px solid lightgray;
            background-color: lightgray;
            position: absolute;
            opacity: 0.9;
            cursor: pointer;

            mat-icon{
                color: white;
                opacity: 0.8;
            }
        }

        .square_disabled{
            margin-top: .1rem;
            margin-left: .2rem;
            height: 25px;
            width: 25px;
            outline: 3px solid lightgray;
            background-color: lightgray;
            position: absolute;
            opacity: 0.9;
            cursor: not-allowed;

            mat-icon{
                color: white;
                opacity: 0.8;
            }
        }

    }

    section.curve-info{

        padding: .5em;
        font-size: small;
        max-height: 22vh;
        overflow-y: auto;
        width: 20%;
        white-space: nowrap !important;


        #curve-info-atributo{
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            white-space: nowrap;
            width: 70px;
        }

    }
}

div.curve-footer{
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    background-color: grey;

    #comparar{
        background-color: $buttons-subtitle-color;
        color: white;
    }
}