.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .contenedor-titulo{
        text-align: center;
    }

    .contenedor-estructura{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 90%;
        
        section{
            width: 100%;
        }

        .contenedor-estructura-productos{
            padding: 1em;
            display: flex;
            flex-direction: column;

            div{
                display: flex;
                flex-direction: column;
                padding: 1em;
                outline: 1px solid black;

                ::ng-deep .mat-checkbox-label{
                    font-weight: normal;
                }
                
            }
        }

        .contenedor-estructura-fechas{
            padding: 1em;

            div{
                display: flex;
                align-items: center;
                span, input{
                    margin-left: .8em;
                }
            }
        }
    }

    .contenedor-reprocesar{
        display: flex;
        justify-content: flex-end;
    }
    
    
}